*{
    margin: 0;
    padding: 0;
    font-style: italic;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    width: 100%;
    background-image: url("bady.jpg");
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(18, 19, 19, 0.815);
    padding: 3px;
    top: 0;
    z-index: 100;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 130px;
    margin-top: 10px;
  
}
ul{
    list-style: none;
}
#navbar ul{
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
}
#navbar ul li a{
    padding: 15px 20px;
    text-decoration: none;
    color: rgb(210, 27, 27);
    font-size: 20px;
}
.logo{
    width: 14%;
    height: 6%;
}
/*.cont_hom{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 20px;
 }*/
 .cont_hom{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 20px;
 }
.titre_home{
    font-size: 40px;
    color: brown;
    padding: 20px;
}
.choix_jeux{
    background-color: black;
    width: 500px;
    height: 450px;
}


/* Style du formulaire de page login  */
form {
    width: 300px;
    margin-top: 200px;
    margin-left: 600px;
    text-align: center;
    background-color: rgba(111, 109, 210, 0.72);
    padding-top: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 50px;
}


label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
    margin-right: 10px;
    text-align: right;
}










